<h1>All Conversations</h1>

<% @conversations.each do |conversation| %>
  <section>
    <%= link_to conversation.subject, conversation_path(conversation) %>
  </section>
<% end %>

<%= link_to 'New Conversation', new_conversation_path %>
