<h1><%= @conversation.subject %></h1>

<% @conversation.receipts_for(current_user).each do |receipt| %>
  <section>
    <p><%= receipt.message.sender.name %> commented:</p>
    <p><%= receipt.message.body %></p>
  </section>
<% end %>
